# development variable to expose any fields returned from the Yahoo Fantasy Sports API not currently supported by YFPY
CHECK_FOR_MISSING_YAHOO_DATA=false

# Yahoo access token fields for reauthentication
YAHOO_CONSUMER_KEY=dj0yJmk9cFpLNGFhSXd1QmFXJmQ9WVdrOVRVZFFVRWRzYkhRbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTQ0
YAHOO_CONSUMER_SECRET=ba41ab7ecbe9032a4590dbff4fe812fdcb4866c4
YAHOO_ACCESS_TOKEN=<YAHOO_ACCESS_TOKEN_GENERATED_BY_OAUTH>
YAHOO_GUID=<YAHOO_GUID_GENERATED_BY_OAUTH>
YAHOO_REFRESH_TOKEN=<YAHOO_REFRESH_TOKEN_GENERATED_BY_OAUTH>
YAHOO_TOKEN_TIME=<YAHOO_TOKEN_TIME_GENERATED_BY_OAUTH>
YAHOO_TOKEN_TYPE=<YAHOO_TOKEN_TYPE_GENERATED_BY_OAUTH>

# Yahoo access token JSON string containing all required access token fields
YAHOO_ACCESS_TOKEN_JSON=<YAHOO_ACCESS_TOKEN_JSON_STRING_GENERATED_BY_OAUTH>
